form {
    display: grid;
    justify-content: center;
    align-content: stretch;
    justify-items: stretch;
    font-family: Sans-serif;
    color: #333;
    margin: 150px 170px 50px 775px;
    align-items: center;
    border: 10px;
    border-color: black;
    background-color: white;
    width: 15%;

}

#message{
    width: 900px;
    height: 335px;
}